.ui {
  background-color: #f5f6fa;
}

.input {
  background-color: #dcdde1;
  padding: 1.8vh;
}

.messages {
  height: 85vh;
  overflow-y: scroll;
  display: flex;
  flex-direction: column-reverse;
  border-bottom: 1px solid grey;
  border-top: 1px solid grey;
}
